body {
  margin: 18px;
  padding: 0;
  font-family: "Segoe UI", "Open Sans", serif;
  color: #444;
}

.karbon-sortable-list li {
  list-style: none;
  width: 400px;
  background-color: white;
}

.list-item {
  text-align: center;
  width: 400px;
  border-top: 2px solid #fff;
  margin: 0;
  padding: 8px;
  color: white;
  background-color: green;
}

.list-item:hover {
  cursor: pointer;
}

.dragging > .list-item {
  background-color: gray;
  border-color: white;
}

.dropping > .list-item {
  transition: all 1s ease-out;
  background-color: green;
  border-top: 2px solid white;
}

.droppable--enter > .list-item {
  border-top: 2px solid #3aa3aa;
}

li.list-item__blank {
  list-style: none;
  height: 39px;
  width: 380px;
  border-top: 2px solid white;
  margin: 0;
  padding: 8px;
  color: white;
  background-color: white;
}


li.list-item__blank.droppable--enter {
  border-top: 2px solid #3aa;
}
