<div>
  Test message - we can add drop wells here
</div>

{{!-- containerClass gives you a namespace for this list. You can use multiple lists by
      giving them different container names.

      onOrderChanged will fire after a drop, passing oldIndex and newIndex of the item
      that was moved.

--}}
{{#karbon-sortable-list data=model
                        containerClass='demo-list'
                        onOrderChanged=(action 'orderChanged') }}
  {{#each model as |item|}}
    {{#karbon-sortable-item}}
      <div class='list-item'>{{item.title}}</div>
    {{/karbon-sortable-item}}
  {{/each}}
{{/karbon-sortable-list}}
