<div>
  <div class="drops">
    {{#karbon-dropwell data="drop1"}}Drop 1{{/karbon-dropwell}}
    {{#karbon-dropwell data="drop2"}}Drop 2{{/karbon-dropwell}}
    {{#karbon-dropwell data="drop3"}}Drop 3{{/karbon-dropwell}}
  </div>
</div>

{{!-- containerClass gives you a namespace for this list. You can use multiple lists by
      giving them different container names.

      onOrderChanged will fire after a drop, passing oldIndex and newIndex of the item
      that was moved.

--}}
{{#karbon-sortable-list data=model
                        canNest=true
                        containerClass='demo-list'
                        onOrderChanged=(action 'orderChanged') }}
  {{#each model as |item|}}
    {{#unless item.isCollapsedSectionChild}}
      {{#karbon-sortable-item draggable=item.draggable
                              data=item}}
        {{expandable-item data=item
                          toggleSection=(action 'toggleSection')}}
      {{/karbon-sortable-item}}
    {{/unless}}
  {{/each}}
{{/karbon-sortable-list}}

{{!-- placeholder --}}
<div id="dragGroupImage"></div>
<div id="dragSingleImage"></div>
